<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<a href="/emp1/1">点击</a>
<form method="post" action="/emp1/upd">
    id：<input type="text" name="id"><br>
    name：<input type="text" name="name"><br>
    age：<input type="text" name="age"><br>
    sex：<input type="text" name="sex"><br>
    dp_id：<input type="text" name="dp_id"><br>
    annual_salary：<input type="text" name="annual_salary">
    <input type="submit" value="提交">
</form>
</body>
</html>